# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
MANIFEST

# Virtual Environment
venv/
.venv/
env/
ENV/

# IDEs
.idea/
.vscode/

# Local configuration
.env
local_settings.py
